<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="navbar">
            <ul>
                <li><button><a href="/">Home</a></button></li>
                <li><a href="/add_place">Add New Place</a></li>

              </ul>
        </div>